@font-face {
	font-family: NokiaDisplay;
	src: url('./public/NokiaDisplay.ttf');
}

@keyframes pulse {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.5;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;

	.container {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		background-color: rgb(211, 201, 185);

		img {
			position: absolute;
			opacity: 0;
			padding: 2rem;
			height: 100%;
			z-index: 1;
		}

		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			/* background-image: url('./public/90sBackground.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			filter: blur(5px) brightness(90%);
			box-shadow: 0px 0px 5rem 2rem black; */
		}

		.phone {
			position: relative;
			height: 100%;

			.display_svg {
				position: absolute;
			}

			.display {
				position: absolute;
				top: 26.3%;
				left: 20%;
				width: 60%;
				height: 16%;
				outline: 0.4vh dotted black;

				.menu {
					position: absolute;
					padding: 0.5vh;
					width: 100%;
					height: 100%;
					display: none;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					font-family: NokiaDisplay;
					overflow: hidden;

					.game_over {
						font-size: 1.9vh;
						font-weight: 600;
						text-align: center;
					}

					.score_wrapper {
						.score_text {
							display: inline-block;
							font-size: 1.5vh;
							font-weight: 400;
							text-align: center;
						}

						.score {
							display: inline-block;
							font-size: 1.5vh;
							font-weight: 400;
							text-align: center;
						}
					}

					.play_again_text {
						margin-top: 1vh;
						font-size: 1.4vh;
						font-weight: 400;
						text-align: center;

						animation: pulse 1s linear infinite alternate;
					}
				}

				/* #display_canvas {
				} */
			}

			.phone_svg {
				height: 100%;
				width: 100%;
			}
		}
	}
}
